__pycache__
output.yaml
power.yaml
venv
.empty
output
.ipynb_checkpoints
.vscode
src/sensitivity_calculator.egg-info
build
dist
.coverage
.tox
.pytest_cache
src/sensitivity_calculator/ccat_uniform_coverage_nside*
